@using System.Globalization
@using WikiSite.PL.ASP.Models
@model IEnumerable<WikiSite.PL.ASP.Models.ArticleVM>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">
    <a href="@Url.Action("Index")" title="К списку статей" class="btn btn-link page-back-button"><i class="fa fa-angle-left"></i></a>
    @ViewBag.Title
</h1>

<div>
    @Html.ActionLink("Добавить версию", "Update", new { shortUrl = ViewBag.ShortUrl}, new { @class = "btn btn-primary" })
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Дата создания</th>
            <th class="hidden-xs">Автор</th>
            <th>Подтверждена</th>
            <th class="hidden-xs">Действия</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
            foreach (var version in Model)
            {
                <tr>
                    <td>@i</td>
                    <td class="table-max-width-200">
                        <a href="@Url.Action("Show", "Articles", new {shortUrl = version.ShortUrl, number = i})" class="btn btn-link btn-xs">@version.LastEditDate.ToString(CultureInfo.CurrentCulture)</a>
                    </td>
                    <td class="table-max-width-100 hidden-xs">
                        <a href="@Url.Action("Details", "Users", new {id = UserVM.GetUser(version.EditionAuthorId).ShortId})" class="btn btn-link btn-xs">
                            @UserVM.GetUser(version.EditionAuthorId).Nickname
                        </a>
                    </td>
                    <td>@version.IsApproved</td>
                    <td class="table-action hidden-xs">
                        <a href="@Url.Action("Show", "Articles", new {shortUrl = version.ShortUrl, number = i})" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>

