@using System.Globalization
@using Microsoft.Security.Application
@using WikiSite.PL.ASP.Classes
@using WikiSite.PL.ASP.Models
@model UserVM

@{
    ViewBag.Title = $"Пользователь {Model.Nickname}";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Guid CurrentUserId = Guid.Empty;
    if (Request.IsAuthenticated)
    {
        CurrentUserId = Guid.Parse(User.Identity.Name);
    }
    ViewBag.Articles = ArticleVM.GetAllArticles(Model.Id).ToArray();
    ViewBag.Versions = ArticleVM.GetAllVersionByAuthor(Model.Id).ToArray();
    ViewBag.Comments = CommentVM.GetCommentsForUser(Model.Id).ToArray();
}

@section actions
{
	@if (Request.IsAuthenticated && (User.Identity.Name == Model.Id.ToString() || User.IsInRole("admin")))
	{
		<li><a href="@Url.Action("Edit", new {id = Model.ShortId})">Редактировать профиль</a></li>
		if (User.IsInRole("admin") && User.Identity.Name != Model.Id.ToString())
		 {
			 <li><a href="#!" data-toggle="modal" data-target="#delete-modal">Удалить профиль</a></li>
		 }
	}
}

<!-- OnDelete Modal Window -->
@if (Request.IsAuthenticated && User.IsInRole("admin") && User.Identity.Name != Model.Id.ToString()) // No need to load this if action isn't available
{
	<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							<i class="fa fa-times"></i>
						</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Удаление пользователя @Model.Nickname</h4>
				</div>
				<div class="modal-body">
					Это действие необратимо. Нет, серьёзно, подумой!
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<a href="@Url.Action("Delete", "Users", new {area = "Admin", id = Model.ShortId})" class="btn btn-danger">Удалить навсегда</a>
				</div>
			</div>
		</div>
	</div>
}

<header class="article-head">
	<div class="row">
		<div class="head-thumbnail col-xs-12 col-sm-6 col-lg-5">
			<img class="thumbnail" src="https://www.gravatar.com/avatar/@UserCredentialsVM.GetEmailHash(Model.Id)?s=250&d=retro" alt="">
		</div>

		<div class="article-title-desc col-xs-12 col-sm-6 col-lg-7">
			@if (User.IsInRole("admin"))
			{
				<div>
					<kbd>@Model.Id</kbd>
				</div>
			}
		    @if (RoleVM.UserIsInRole("admin", Model.Id))
		    {
		        <span class="label label-warning">@RoleVM.GetRole(Model.RoleId).Name</span>
            }
            else if (RoleVM.UserIsInRole("moderator", Model.Id))
            {
                <span class="label label-success">@RoleVM.GetRole(Model.RoleId).Name</span>
            }
            else { }

			<h2>@Model.Nickname</h2>
			<div class="stats">
				<div>
					<p class="stat-number">@ViewBag.Articles.Length</p>
					<p>Статей</p>
				</div>
				<div>
					<p class="stat-number">@ViewBag.Versions.Length</p>
					<p>Правок</p>
				</div>
				<div>
					<p class="stat-number">@ViewBag.Comments.Length</p>
					<p>Комментариев</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-10 col-md-push-1">
			<blockquote class="user-about">
				<div>
					@if (Model.About == null)
					{
						<span>Пользователь ничего о себе не написал.</span>
					}
					else
					{
						@Html.Markdown(Model.About)
					}
				</div>
			</blockquote>
		</div>
	</div>
</header>

<div class="row">
	<div class="col-xs-12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#new-articles" data-toggle="tab">
				<i class="fa fa-newspaper-o" aria-hidden="true"></i>
				<span class="hidden-xs">Созданные статьи</span>
			</a></li>
			<li><a href="#edited-articles" data-toggle="tab">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				<span class="hidden-xs">Редактированные статьи</span>
			</a></li>
			<li><a href="#comments" data-toggle="tab">
				<i class="fa fa-comment-o" aria-hidden="true"></i>
				<span class="hidden-xs">Комментарии</span >
			</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">

			<!-- Own articles -->
			<div class="tab-pane fade active in" id="new-articles">
				<div class="col-xs-12">
					@if (ViewBag.Articles.Length == 0)
					{
						<div class="not-found">
							<i class="fa fa-frown-o"></i>
							<h3>Похоже, что этот пользователь ничего не писал</h3>
						</div>
					}
					else
					{
						<table class="table table-hover table-responsive col-xs-12">
							<thead>
							<tr>
								<th>URL</th>
								<th>Название</th>
								<th class="hidden-xs">Дата создания</th>
							</tr>
							</thead>
							<tbody>
							@foreach (var article in ViewBag.Articles)
							{
								<tr>
									<td class="table-max-width-100">@article.ShortUrl</td>
									<td class="table-max-width-200">
										<a href="@Url.Action("Details", "Article", new { url = article.ShortUrl})" class="btn btn-link btn-xs">
											@article.Heading
										</a>
									</td>
									<td class="hidden-xs">@article.CreationDate.ToString(CultureInfo.CurrentCulture)</td>
								</tr>
							}
							</tbody>
						</table>
					}</div>
			</div>

			<!-- Own edits -->
			<div class="tab-pane fade" id="edited-articles">
				<div class="col-xs-12">
					@if (ViewBag.Versions.Length == 0)
					{
						<div class="not-found">
							<i class="fa fa-frown-o"></i>
							<h3>Похоже, что этот пользователь не делал никаких правок</h3>
						</div>
					}
					else
					{
						<table class="table table-hover table-responsive col-xs-12">
							<thead>
							<tr>
								<th>URL</th>
								<th>Название</th>
								<th class="hidden-xs">Дата редактирования</th>
							</tr>
							</thead>
							<tbody>
							@foreach (var article in ViewBag.Versions)
							{
								<tr>
									<td class="table-max-width-100">@article.ShortUrl</td>
									<td class="table-max-width-200">
										<a href="@Url.Action("Details", "Article", new {url = article.ShortUrl})" class="btn btn-link btn-xs">
											@article.Heading
										</a>
									</td>
									<td class="hidden-xs">@article.LastEditDate.ToString(CultureInfo.CurrentCulture)</td>
								</tr>
							}
							</tbody>
						</table>
					}</div>
			</div>

			<!-- Comments-->
			<div class="tab-pane fade" id="comments">
				<div class="col-xs-12">
					@if (((CommentVM[])ViewBag.Comments).Length == 0)
					{
						<div class="not-found">
							<i class="fa fa-frown-o"></i>
							<h3>Похоже, что этот пользователь ничего не комментил</h3>
						</div>
					}
					else
					{
					    <table class="table table-hover table-responsive col-xs-12">
					        <thead>
					        <tr>
					            <th>URL статьи</th>
					            <th>Страница обсуждения</th>
					            <th class="hidden-xs">Дата комментирования</th>
					        </tr>
					        </thead>
					        <tbody>
					        @foreach (var comment in ViewBag.Comments)
					        {
					            var article = ArticleVM.GetArticle(comment.ArticleId);
					            <tr>
					                <td class="table-max-width-100">@article.ShortUrl</td>
					                <td class="table-max-width-200">
					                    <a href="@Url.Action("Index", "Comments", new {article = article.ShortUrl})" class="btn btn-link btn-xs">
					                        @article.Heading
					                    </a>
					                </td>
                                    <td class="hidden-xs">@comment.DateOfCreation.ToString(CultureInfo.CurrentCulture)</td>
					            </tr>
					        }
					        </tbody>
					    </table>

					    @*foreach (CommentVM item in (CommentVM[])ViewBag.Comments)
					     {
					        var comment = item;
					             var user = UserVM.GetUser(comment.AuthorId);
					             <div class="comment list-group-item">
					                 <div class="row">
					                     @if (Request.IsAuthenticated && (CurrentUserId == comment.AuthorId || User.IsInRole("admin") || User.IsInRole("moderator")))
					                     {
					                         <div class="comment-actions">
					                             <a href="@Url.Action("Edit", "Comments", new {id = comment.Id})" title="Редактировать" data-toggle="tooltip" data-placement="top" class="btn btn-sm btn-inverse">
					                                 <i class="fa fa-pencil"></i>
					                             </a>
					                             <a href="#!" tabindex="0" role="button" data-trigger="focus" data-toggle="confirm-popover" data-placement="left" class="btn btn-sm btn-danger">
					                                 <i class="fa fa-trash"></i>
					                             </a>
					                             <output hidden>
					                                 <a href="@Url.Action("Delete", "Comments", new {id = comment.Id})" class="btn btn-danger btn-sm">Удалить бесповоротно</a>
					                             </output>
					                         </div>
					                     }
					                     <div class="comment-author col-xs-12 col-sm-3 col-lg-2">
					                         <a href="@Url.Action("Details", "User", new {id = user.ShortId})">
					                             <img src="https://www.gravatar.com/avatar/@UserCredentialsVM.GetEmailHash(comment.AuthorId)?s=80&d=retro" alt="Изображение профиля">
					                         </a>
					                         <div class="comment-author-info">
					                             <h4 class="comment-nickname"><a href="@Url.Action("Details", "User", new {id = user.ShortId})">@user.Nickname</a></h4>
					                             <div>
					                                 @if (RoleVM.UserIsInRole("admin", user.Id))
					                                 {
                                                        <span class="label label-warning">@RoleVM.GetRole(user.RoleId).Name</span>
					                                 }
					                                 @if (RoleVM.UserIsInRole("moderator", user.Id))
					                                 {
                                                        <span class="label label-success">@RoleVM.GetRole(user.RoleId).Name</span>
					                                 }
					                             </div>
					                             <em class="comment-date">@comment.DateOfCreation.ToString("dd.MM.yy HH:mm")</em>
					                         </div>
					                     </div>
					                     <div class="col-xs-12 col-sm-9 col-lg-10">
					                         @Html.Markdown(comment.Text)
					                     </div>
					                 </div>
					             </div>
					         }*@
					}
				</div>
			</div>
		</div>
	</div>
</div>