@using System.Globalization
@using WikiSite.PL.ASP.Models
@model UserVM

@{
    ViewBag.Title = $"Пользователь {Model.Nickname}";
    Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Articles = ArticleVM.GetAllArticles(Model.Id);
	ViewBag.Versions = ArticleVM.GetAllVersionByAuthor(Model.Id);
	ViewBag.CommentsCount = 123;
}


<header class="row article-head">
	@if (Request.IsAuthenticated && (User.Identity.Name == Model.Id.ToString() || User.IsInRole("admin")))
	{
		<div class="dropdown page-actions">
			<button class="btn btn-inverse btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
				<span>Действия</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#">Редактировать профиль</a></li>
				@if (User.IsInRole("admin"))
				{
					<li><a href="#">Удалить профиль</a></li>
				}
			</ul>
		</div>
	}
	<div class="head-thumbnail col-xs-12 col-sm-6 col-lg-5">
		<img class="thumbnail" src="https://www.gravatar.com/avatar/@UserCredentialsVM.GetEmailHash(Model.Id)?s=250&d=retro" alt="">
	</div>

	<div class="article-title-desc col-xs-12 col-sm-6 col-lg-7">
		@if (User.IsInRole("admin"))
		{
			<div>
				<kbd>@Model.Id</kbd>
			</div>
		}
		<span class="label label-success">@RoleVM.GetRole(Model.RoleId).Name</span>
		<h2>@Model.Nickname</h2>
		<div class="stats">
			<div>
				<p class="stat-number">@(((IEnumerable<ArticleVM>) (ViewBag.Articles)).Count())</p>
				<p>Статей</p>
			</div>
			<div>
				<p class="stat-number">@(((IEnumerable<ArticleVM>) (ViewBag.Versions)).Count())</p>
				<p>Правок</p>
			</div>
			<div>
				<p class="stat-number">@ViewBag.CommentsCount</p>
				<p>Комментариев</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-10 col-md-push-1">
		<blockquote class="user-about">
			<p>
				@if (Model.About == null)
				{
					<ins>Пользователь ничего о себе не написал.</ins>
				}
				else
				{
					@Model.About
				}
			</p>
		</blockquote>
	</div>
</header>

<div class="row">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#new-articles" data-toggle="tab">Созданные статьи</a></li>
		<li><a href="#edited-articles" data-toggle="tab">Редактированные статьи</a></li>
		<li><a href="#comments" data-toggle="tab">Комментарии</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="new-articles">
			<h1 class="page-header col-xs-12">Статьи</h1>
			<table class="table table-hover table-responsive col-xs-12">
				<thead>
					<tr>
						<th>URL</th>
						<th>Название</th>
						<th class="hidden-xs">Дата создания</th>
						<th class="hidden-xs">Дата редактирования</th>
						<th class="hidden-xs">Исправил</th>
						<th class="hidden-xs">Количество версий</th>
						<th class="hidden-xs">Действия</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var article in ViewBag.Articles)
					{
						<tr>
							<td class="table-max-width-100">@article.ShortUrl</td>
							<td class="table-max-width-200">
								<a href="@Url.Action("Details", "Articles", new {shortUrl = article.ShortUrl})" class="btn btn-link btn-xs">
									@article.Heading
								</a>
							</td>
							<td class="hidden-xs">@article.CreationDate.ToString(CultureInfo.CurrentCulture)</td>
							<td class="hidden-xs">@article.LastEditDate.ToString(CultureInfo.CurrentCulture)</td>
							<td class="table-max-width-100 hidden-xs">
								<a href="@Url.Action("Details", "Users", new {id = UserVM.GetUser(article.EditionAuthorId).ShortId})" class="btn btn-link btn-xs">
									@UserVM.GetUser(article.EditionAuthorId).Nickname
								</a>
							</td>
							<td class="hidden-xs">@ArticleVM.VersionsCount(article.Id)</td>
							<td class="table-action hidden-xs">
								<a href="@Url.Action("Details", "Articles", new { shortUrl = article.ShortUrl })" class="btn btn-primary btn-xs"><i class="fa fa-bars"></i></a>
								<span>
									<a href="#!" data-toggle="confirm-popover" data-placement="left" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
									<output hidden>
										<a href="@Url.Action("Delete", "Articles", new { shortUrl = article.ShortUrl })" class="btn btn-danger btn-sm">Я уверен, удалить</a>
									</output>
								</span>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="tab-pane fade" id="edited-articles">
			<h1 class="page-header col-xs-12">Редактированные</h1>
			<table class="table table-hover table-responsive col-xs-12">
				<thead>
					<tr>
						<th>URL</th>
						<th>Название</th>
						<th class="hidden-xs">Дата создания</th>
						<th class="hidden-xs">Автор</th>
						<th class="hidden-xs">Дата редактирования</th>
						<th class="hidden-xs">Количество версий</th>
						<th class="hidden-xs">Действия</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var article in ViewBag.Versions)
					{
						<tr>
							<td class="table-max-width-100">@article.ShortUrl</td>
							<td class="table-max-width-200">
								<a href="@Url.Action("Details", "Articles", new {shortUrl = article.ShortUrl})" class="btn btn-link btn-xs">
									@article.Heading
								</a>
							</td>
							<td class="hidden-xs">@article.CreationDate.ToString(CultureInfo.CurrentCulture)</td>
							<td class="table-max-width-100 hidden-xs">
								<a href="@Url.Action("Details", "Users", new {id = UserVM.GetUser(article.AuthorId).ShortId})" class="btn btn-link btn-xs">
									@UserVM.GetUser(article.EditionAuthorId).Nickname
								</a>
							</td>
							<td class="hidden-xs">@article.LastEditDate.ToString(CultureInfo.CurrentCulture)</td>
							<td class="hidden-xs">@ArticleVM.VersionsCount(article.Id)</td>
							<td class="table-action hidden-xs">
								<a href="@Url.Action("Details", "Articles", new { shortUrl = article.ShortUrl })" class="btn btn-primary btn-xs"><i class="fa fa-bars"></i></a>
								<span>
									<a href="#!" data-toggle="confirm-popover" data-placement="left" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
									<output hidden>
										<a href="@Url.Action("Delete", "Articles", new { shortUrl = article.ShortUrl })" class="btn btn-danger btn-sm">Я уверен, удалить</a>
									</output>
								</span>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="tab-pane fade" id="comments">
			<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
		</div>
	</div>

</div>