@using WikiSite.PL.ASP.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>

	<!-- Bootstrap -->
	<link href="~/Content/bootswatch/lumen/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/Content/custom/bootstrap-overrides.css">

	<!-- Other styles -->
	<link rel="stylesheet" href="~/Content/custom/styles.css">
	@RenderSection("style", false)
	
	<!-- Scripts -->
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
	<script src="https://use.fontawesome.com/d8dda53238.js"></script>
	@RenderSection("headjs", false)

	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrapper">

		<!-- Admin panel -->
		<section class="topbar topbar-default">

			<a href="#!" class="sidebar-control btn btn-sm btn-inverse">
				<span class="sr-only">Open sidebar</span>
				<i class="fa fa-bars"></i>
			</a>
			
			@if (Request.IsAuthenticated)
			{
				<ul class="pull-right list-inline list-unstyled">
					@if (User.IsInRole("Admin"))
					{
						<li>@Html.ActionLink("Админка", "Index", "Home", new { area="Admin" }, new { @class = "btn btn-warning btn-xs" })</li>
					}
					<li><a href="#!" class="btn btn-success btn-xs">Кабинет</a></li>
					<li>@UserVM.GetUser(Guid.Parse(User.Identity.Name)).Nickname</li> <!-- А так можно? -->
					<li><img src="http://placehold.it/30" alt="Profile image"/></li>
					<li>
						<a href="@Url.Action("Logout", "Auth")" class="btn btn-inverse btn-sm">
							<i class="fa fa-sign-out" aria-hidden="true"></i>
							<span class="sr-only">Выйти</span>
						</a>

					</li>
				</ul>
			}
			else
			{
				<a href="#!" id="login-control" class="btn btn-sm btn-success pull-right">
					<span class="sr-only">Войти</span>
					<i class="fa fa-user"></i>
				</a>
			}
		</section>
		
		<!-- Log in panel -->
		@if (!Request.IsAuthenticated)
		{
			<form class="login-form animated" method="post" action="Auth/Login">
				@Html.AntiForgeryToken()
				<div class="form-group stretch">
					<label for="login-login">Логин или e-mail</label>
					@Html.TextBox("LoginEmail", "", new { @class = "form-control", id = "login-login", placeholder = "Логин или e-mail"})
				</div>

				<div class="form-group stretch">
					<label for="login-pass">Пароль</label>
					@Html.Password("Password", "", new { @class = "form-control", id = "login-pass", placeholder = "Пароль" })
				</div>

				<div class="form-group pull-right">
					<label for="DontRememberMe" class="btn btn-checkbox btn-trans">
						@Html.CheckBox("DontRememberMe")
						<span><i class="fa fa-user-secret" aria-hidden="true"></i></span>
					</label>
					@Html.ActionLink("Регистрация", "Register", "Auth", null, new {@class = "btn btn-link"}) @{
																												/* TODO: Throw a return url */
					                                                                                          }
					<input type="submit" class="btn btn-success" value="Войти">
				</div>
			</form>
		}

		<!-- Sidebar menu -->
		<section class="sidebar animated sidebar-default">
			<i class="sidebar-image" alt=""></i>
			<ul>
				<li class="logo">
					<a href="@Url.Action("Index", "Home")" title="My Name Jeff">
						<span class="sr-only">My Name Jeff</span>
					</a>
				</li>
				<li><input class="form-control" type="search" placeholder="Искать статью..."></li>
				<li class="divider"></li>
				<li><a href="#!">На главную страницу</a></li>
				<li><a href="#!">Случайная статья</a></li>
				<li class="divider"></li>
				<li><a href="#!">Редактировать статью</a></li>
				<li><a href="#!">Версии этой статьи</a></li>
				<li><a href="#!">Перейти к обсуждению</a></li>
			</ul>
		</section>

		<!-- Content of a page -->
		<section class="content animated">
			<div class="container-fluid">
				@RenderBody()
			</div>
		</section>

	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="~/Scripts/jquery-3.1.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/custom/main.js"></script>
	@RenderSection("js", false)


</body>
</html>