@using System.Text
@using WikiSite.PL.ASP.Classes
@using WikiSite.PL.ASP.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - MNJ</title>

	<!-- Bootstrap -->
	<link href="~/Content/bootswatch/lumen/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/Content/custom/bootstrap-overrides.css">

	<!-- Other styles -->
	<link rel="stylesheet" href="~/Content/custom/styles.css">
    <link href="~/Content/custom/special-styles.css" rel="stylesheet" />
	@RenderSection("style", false)
    @Html.EmitRequiredStyles()
	
	<!-- Scripts -->
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
	<script src="https://use.fontawesome.com/d8dda53238.js"></script>
	@RenderSection("headjs", false)

	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrapper">

		<!-- Admin panel -->
		<section class="topbar topbar-default">

			<a href="#!" class="sidebar-control btn btn-sm btn-inverse">
				<span class="sr-only">Open sidebar</span>
				<i class="fa fa-bars"></i>
			</a>
			
			@if (Request.IsAuthenticated)
			{
				<ul class="pull-right list-inline list-unstyled">
					@if (User.IsInRole("Admin"))
					{
						<li>@Html.ActionLink("Админка", "Index", "Home", new { area="Admin" }, new { @class = "btn btn-warning btn-xs" })</li>
					}
					<li><a href="@Url.Action("Index", "User")" class="btn btn-success btn-xs">Кабинет</a></li>
					<li>@UserVM.GetUser(Guid.Parse(User.Identity.Name)).Nickname</li> 
					<li><img src="https://www.gravatar.com/avatar/@UserCredentialsVM.GetEmailHash(User.Identity.Name)?s=30&d=retro" alt="Profile image"/></li>
					<li>
						<a href="@Url.Action("Logout", "Auth")" class="btn btn-inverse btn-sm">
							<i class="fa fa-sign-out" aria-hidden="true"></i>
							<span class="sr-only">Выйти</span>
						</a>

					</li>
				</ul>
			}
			else
			{
				<a href="#!" id="login-control" class="btn btn-sm btn-success pull-right">
					<span class="sr-only">Войти</span>
					<i class="fa fa-user"></i>
				</a>
			}
		</section>
		
		<!-- Log in panel -->
		@if (!Request.IsAuthenticated)
		{
            <!--Its can be the greates crutch-->
            var currentUrl = HttpContext.Current.Request.RawUrl;
            //var criticalUrl = new StringBuilder(Url.Action("Show", "Article", new {url = "0"})).Replace("0", "").ToString();
            //if (currentUrl.ToString().Contains(criticalUrl))
            //{
            //    var healthyUrl = new StringBuilder(Url.Action("ShowByGuid", "Article", new {guid = "0"})).Replace("0", "").ToString();
            //    var shortUrlOfArticle = new StringBuilder(currentUrl.ToString());
            //    shortUrlOfArticle.Replace(criticalUrl, "");
            //    currentUrl = new StringBuilder(healthyUrl).Append(ArticleVM.GetArticle(shortUrlOfArticle.ToString()).Id).ToString();
            //}
            <form class="login-form animated" method="post" action="/Auth/Login?ReturnUrl=@currentUrl">
				@Html.AntiForgeryToken()
				<div class="form-group stretch">
					<label for="login-login">Логин или e-mail</label>
					@Html.TextBox("LoginEmail", "", new {@class = "form-control", id = "login-login", placeholder = "Логин или e-mail"})
				</div>

				<div class="form-group stretch">
					<label for="login-pass">Пароль</label>
					@Html.Password("Password", "", new {@class = "form-control", id = "login-pass", placeholder = "Пароль"})
				</div>

				<div class="form-group pull-right">
					<label for="DontRememberMe" class="btn btn-checkbox btn-trans" data-toggle="tooltip" data-placement="top" title="Не запоминать меня">
						@Html.CheckBox("DontRememberMe")
						<span><i class="fa fa-user-secret" aria-hidden="true"></i></span>
					</label>
					@Html.ActionLink("Регистрация", "Register", "Auth", new {ReturnUrl = currentUrl}, new {@class = "btn btn-link"})
					<input type="submit" class="btn btn-success" value="Войти">
				</div>
			</form>
		}

		<!-- Sidebar menu -->
		<section class="sidebar animated sidebar-default">
			<i class="sidebar-image" alt=""></i>
			<ul>
				<li class="logo">
					<a href="@Url.Action("Index", "Home")" title="My Name Jeff">
						<span class="sr-only">My Name Jeff</span>
					</a>
				</li>
				<li>
					@using (Html.BeginForm("Index", "Search", FormMethod.Get))
					{
						@Html.TextBox("query", "", new { @class = "form-control", placeholder = "Искать статью..." })
					}
				</li>
				<li class="divider"></li>
				<li><a href="@Url.Action("Index", "Home")">На главную страницу</a></li>
				<li><a href="@Url.Action("Show","Article", new {url = ArticleVM.GetRandomArticle().ShortUrl})">Случайная статья</a></li>
			    <li><a href="@Url.Action("Create", "Article")">Создать статью</a></li>
			    <li class="divider"></li>
				@RenderSection("actions", required: false)
			</ul>
		</section>

		<!-- Content of a page -->
		<main class="content animated">
			<div class="container-fluid">
				@if (ViewBag.AlertMessage != null) // Displays alert if it exist
				{
					<div class="alert result-alert @ViewBag.AlertClass">@ViewBag.AlertMessage</div>
				}
				@RenderBody()
			</div>
		</main>

	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="~/Scripts/jquery-3.1.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/custom/main.js"></script>
	@RenderSection("js", false)
    @Html.EmitRequiredScripts()
    @Html.EmitRequiredLocalScripts()
</body>
</html>