@model WikiSite.PL.ASP.Models.ErrorVM
@{
    Layout = null;
	ViewBag.Title = "Упс..";
}

<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>@ViewBag.Title</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/Content/bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/custom/bootstrap-overrides.css">

	<!-- Other styles -->
	<link rel="stylesheet" href="~/Content/custom/styles.css">

	<!-- Scripts -->
	<script src="https://use.fontawesome.com/d8dda53238.js"></script>


	<!-- HTML5 shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="navless">

	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<img class="logo" src="~/Content/Images/logo-full.png" alt="Logo"/>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-push-2">
				<div class="error-container">
					<h1>@Model.Header</h1>
					<h2>@Model.Title</h2>
					<dfn>@Model.Message</dfn>
					@if (Model.ExceptionDetails != null && Request.IsAuthenticated && User.IsInRole("admin"))
					{
						<pre>@Model.ExceptionDetails</pre>
					}
				</div>
			</div>
		</div>

	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/Scripts/jquery-3.1.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/Scripts/bootstrap.min.js"></script>
	<script src="/Scripts/custom/main.js"></script>

</body>

</html>