@using CommonMark
@using Microsoft.Security.Application
@using WikiSite.PL.ASP.Classes
@using WikiSite.PL.ASP.Models
@model WikiSite.PL.ASP.Models.ArticleVM

@{
    ViewBag.Title = $"{Model.Heading}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section actions
{
    @if (Request.IsAuthenticated)
    {
        <li><a href="@Url.Action("Update", new {url = Model.ShortUrl})">Редактировать статью</a></li>
    }
    <li><a href="@Url.Action("Details", new {url = Model.ShortUrl})">Версии этой статьи</a></li>
    <li><a href="@Url.Action("Index", "Comments", new {article = Model.ShortUrl})">Перейти к обсуждению</a></li>
    <li class="divider"></li>
    @if (Request.IsAuthenticated && (User.IsInRole("moderator") || User.IsInRole("admin")))
    {
        if (!Model.IsApproved)
        {
            <li><a href="#!" data-toggle="modal" data-target="#approve-modal">Подтвердить версию</a></li>
        }
        else
        {
            <li><a href="#!" data-toggle="modal" data-target="#disapprove-modal">Разутвердить версию</a></li>
        }
    }
    @if (Request.IsAuthenticated && User.IsInRole("admin"))
    {
        <li><a href="#!" data-toggle="modal" data-target="#delete-modal">Удалить статью</a></li>
    }
}

<!-- OnDelete Modal Window -->
@if (Request.IsAuthenticated && User.IsInRole("admin")) // No need to load this if action isn't available
{
    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Удаление всех версий статьи @Model.Heading</h4>
                </div>
                <div class="modal-body">
                    Это действие необратимо. Нет, серьёзно, подумой!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a href="@Url.Action("Delete", "Articles", new {area = "Admin", shortUrl = Model.ShortUrl})" class="btn btn-danger">Удалить навсегда</a>
                </div>
            </div>
        </div>
    </div>
}

<!-- OnApprove Modal Window -->
@if (Request.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("moderator"))) // No need to load this if action isn't available
{
    <div id="approve-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Подтверждение версии @ArticleVM.GetNumberOfVersion(Model.VersionId) для @Model.Heading</h4>
                </div>
                <div class="modal-body">
                    Вы действительно хотите это сделать?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a href="@Url.Action("Approve", "Article", new {area = "", id = Model.VersionId})" class="btn btn-primary">Подтвердить</a>
                </div>
            </div>
        </div>
    </div>
}

<!-- OnDisapprove Modal Window -->
@if (Request.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("moderator"))) // No need to load this if action isn't available
{
    <div id="disapprove-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Разутвердить версии @ArticleVM.GetNumberOfVersion(Model.VersionId) для @Model.Heading</h4>
                </div>
                <div class="modal-body">
                    Вы действительно хотите это сделать?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a href="@Url.Action("Approve", "Article", new {area = "", id = Model.VersionId, type = false})" class="btn btn-primary">Подтвердить</a>
                </div>
            </div>
        </div>
    </div>
}

<!-- Head of an article (title/description) -->
<header class="article-head">
    <div class="row">
        <div class="head-thumbnail col-xs-12 col-sm-5 col-lg-4">
            <img class="thumbnail article-thumbnail" src="@Url.Action("GetResizedByUrl", "Image", new { width = 250, height = 250, url = ViewBag.ShortUrl , number = ViewBag.Number})" alt="">
        </div>

        <div class="article-title-desc col-xs-12 col-sm-7 col-lg-8">
            <div class="article-title">
                <span>@ViewBag.Title</span>
            </div>

            <div class="article-desc">
                @Html.Markdown(Model.Definition)
            </div>
        </div>
    </div>
</header>

<!-- Article itself -->
<article class="row">
    <div class="col-xs-12">
        @Html.Markdown(Model.Text)
    </div>
</article>

