@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
	<link rel="stylesheet" href="~/Content/custom/admin-styles-override.css">
	@RenderSection("style", false)
}
@section js { @RenderSection("js", false) }
@section headjs { @RenderSection("headjs", false) }

@if (ViewBag.AlertMessage != null) // Displays alert if it exist
{
	<div class="alert @ViewBag.AlertClass">@ViewBag.AlertMessage</div>
}
@RenderBody()